.centerblockContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contentPlaylist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  max-height: 1250px;
}

.contentPlaylist::-webkit-scrollbar {
  width: 3px;
}

.contentPlaylist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
